<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles/vendors")
    @Styles.Render("~/styles/custom")
    @Scripts.Render("~/scripts/angular")
    @Scripts.Render("~/scripts/Home/Index")
</head>
<body ng-app="GridComponent" ng-cloak>
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>